* {
   box-sizing: border-box;
 }
 


section {
   padding: 20px 0; 
}

.btn{
   width: 80%;
   height: 35px;
   padding: 0;
   margin: 25px;
}

.themeBg{
   background: rgb(219, 240, 240)
   
}
#headerText{
   font-weight: bolder;
}